<h1>Selectores Anidados</h1>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">

    <!-- Regiones -->
    <div class="row mb-4">
        <div class="col">
            <label class="form-label">Continente</label>
            <select class="form-control" formControlName='region'>
                <option value="">-- Seleccione un continente --</option>
                <option *ngFor="let region of regiones" [value]="region | lowercase">{{region | titlecase}}</option>
            </select>
        </div>
    </div>

    <!-- Paises -->
    <div class="row mb-4 animate__animated animate__fadeIn" *ngIf="paises.length>0">
        <div class="col">
            <label class="form-label">País</label>
            <select class="form-control" formControlName='pais'>
                <option value="">-- Seleccione un país --</option>
                <option *ngFor="let pais of paises" [value]="pais.cca2">{{pais.name.common | titlecase}}</option>
            </select>
        </div>
    </div>

    <!-- Fronteras -->
    <div class="row mb-4 animate__animated animate__fadeIn" *ngIf="fronteras.length>0">
        <div class="col">
            <label class="form-label">Fronteras</label>
            <select class="form-control" formControlName='frontera'>
                <option value="">-- Seleccione el país fronterizo --</option>
                <option *ngFor="let pais of fronteras" [value]="pais.cca2">{{pais.name.common | titlecase}}</option>
            </select>
        </div>
    </div>

    <div class="row" *ngIf="cargando">
        <div class="col">
            <div class="alert alert-primary">
                Loading...
            </div>
        </div>
    </div>

    <div class="row" *ngIf="noFronterizos && paisSeleccionado !== ''">
        <div class="col">
            <div class="alert alert-danger">
                No tiene paises fronterizos...
            </div>
        </div>
    </div>

    <div class="row">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit" [disabled]="miFormulario.invalid">
                Seleccionar
            </button>
        </div>
    </div>
    
</form>

<h3 class="mt-5">
    Formulario
</h3>
<pre>Valido: {{miFormulario.valid}}</pre>
<pre>Valores: {{miFormulario.value | json}}</pre>
